#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column; 
  place-items: center; 
}

h1 { 
  font-size: 30px; 
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (min-width: 768px) { 
  h1 { 
    font-size: 50px; 
  }
}

